#root {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 1rem;
	text-align: center;
}

.navbar-brand {
	margin-left: 0;
	font-weight: bold;
}
#basic-navbar-nav {
	justify-content: right;
}

.title {
	font-size: 4rem; /* Bigger size for the title */
	font-weight: bold;
	margin-bottom: 2rem; /* Space below the title */
}

.profile-picture {
	width: 500px;
	height: 500px;
	border-radius: 50%; /* Circular border */
	object-fit: cover;
	border: 2min solid #007bff;
	margin-bottom: 2rem; /* Space between the image and the paragraph */
}

.intro-text {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.paragraph-text {
	font-size: 1.2rem;
	line-height: 1.6;
	padding: 0 1rem;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	height: 100%; /* Make the card fill its container */
	display: flex;
	flex-direction: column; /* Align items in a column */
	height: 100%;
}
.card-img-top {
	max-height: 150px;
	object-fit: cover;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.card-title {
	margin-bottom: 1rem;
	font-weight: bold;
	margin: 10px 0;
}

.btn {
	width: 75%;
	align-self: center;
	margin-top: 0.5rem;
}
.btn-secondary {
	margin-top: auto;
}

.skills-list {
	list-style: none; /* Remove default bullet points */
	padding: 0;
	text-align: left;
}

.skills-list li {
	margin-bottom: 0.5rem;
	padding-left: 1.5rem;
	position: relative;
}

.skills-list li::before {
	content: '✔';
	position: absolute;
	left: 0;
	color: green;
}

.read-the-docs {
	color: #888;
}
